@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Cantarell');


body{
  background-color: antiquewhite;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Cantarell', sans-serif;
}

header{
  padding-top: 1vw;
  text-align: center;
}

h1 a{
  font-size: 3vw;
  text-decoration: none;
}

footer{
  background-color: darkblue;
  text-align: center;
  color: aliceblue;
  line-height: 4vw;
  bottom: 0;
  // position: absolute;
  width: 100%;
}


h2{
  font-size: 2vw;
  text-align: center;
}

p{
  text-align: center;
}