
body{
  background-color: antiquewhite;
}

header{
  padding-top: 1vw;
  text-align: center;
}

h1{
  font-size: 3vw;
}

footer{
  background-color: darkblue;
  text-align: center;
  color: aliceblue;
  line-height: 4vw;
}

h2{
  font-size: 2vw;
  text-align: center;
}

p{
  text-align: center;
}