#nav{
  background-color: darkblue;
  width: 100%;
}

#indexChart{
  display: inline-block;
  padding-right: 5%;
}

#feed{
  display: inline-block;
}

form{
  background-color: aliceblue;
  padding-top: 2%;
}

#logout{
  float: right;
}

#main{
  position: relative;
  min-height: 100vh;
  background-color: aliceblue;
}

#root {
  position: relative;
  min-height: 100vh;
}