
#generalNews {
  width: 600px;
  height: 720px;
  border: 1px solid lightgray;
  background-color: white;
  overflow: auto;
  word-wrap: break-word;
}

#generalNewsImg {
  width: 200px;
}


#nav li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.5vw;
  text-align: center;
  width: 5vw;
  padding-top: 10%;
  padding-bottom: 10%;

  &:hover {
    background: aliceblue;
    color: black;
  }
  
}

#nav li{
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-right: 5%; 
}

#form-section{
  background-color: darkblue;
  width: 40%;
  display: inline-block;
  padding: 5%;
  border-radius: 2vw;

  & h2{
    color: aliceblue;
    padding-bottom: 1vw;
  }

  & input{
    font-size: 1.5vw;
    border-radius: 1vw;
    padding: .5vw;
  }

  & button{
    margin-left: 5%;
    font-size: 1.5vw;
    padding: .5vw;
    border-radius: 1vw;
  }
}

#portfolio-h2{
  padding: 2%;
}

#portfolio{
  color: darkblue;
  & ul{
    
    & li{

      & h4{
        display: inline;
        font-size: 1.5vw;
      }
    }

  }
}

#button-add-to-portfolio{
  padding: 1%;
  border-radius: 20px;
  font-size: 1.5vw;
  margin-bottom: 2%;
  background-color:lightblue;

  &:hover {
    background: darkblue;
    color:aliceblue;
  }
}

#search-form{
  background-color:aliceblue;
  padding: 2%;
}

.persons {
  width: 70%;
  margin: 50px auto;
}

.members {
  float: left;
  margin-right: 30px;
  width: 200px;
  max-height: 200px;
  border-radius: 30%;
}

.name {
  font-size: 20px;
  margin: 10px 0px;
  font-family: 'Cantarell', sans-serif;
  color: #16191f;
}

.p {
  line-height: 20px;
  font-style: italic;
  height: 115px;
  overflow: scroll;
  margin-bottom: 10px;
  color: #16191f;
  font-family: 'Cantarell', sans-serif;
}

.aboutb {
  text-align: right;
  background: rgba(5, 23, 223, 0.9);
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 15px;
  padding: 8px 40px;
  cursor: pointer;
  transition: hover 350ms;
  margin-right: 20px;
  border-radius: 30%;
}

.aboutb :hover {
  background: rgba(5, 23, 223, 0.9);
  transition: all 350ms;
}

.aboutb a {
  text-decoration: none;
  color: #fff;
  font-family: 'Cantarell', sans-serif;
}
